@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');


*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bg-colour: #2dad4f;
    --delete-bg-colour: #f03059;
    --edit-bg-colour: #0c8ac4;

    --sun-colour: #f4fa43;
    --white-text-colour: #ffffff;

    --item-bg-colour: #d2fadd;
    --item-pending-colour: #d2fadd;
    --item-draft-colour: #d2fadd;
    --item-rejected-colour: #d2fadd;

    --submit-button-colour: #0c8ac4;
    --delete-button-colour: #f03059;
}

body {
    width: 100vw;
    display: flex;
    justify-content: center;
    font-family: 'Lora', serif;
}

.container {
    width: 80vw;
    padding: 0;
    margin: 0;
    overflow: hidden;
    transform-origin: top left;
    transform: translateY(-600px);
    animation: popIn 1000ms 100ms ease-in-out forwards;
}
@keyframes popIn {
    0% {
        
    }
    75% {
        transform: translateY(75px);
    }
    100% {
        transform: translateY(0px);
    }
}
@keyframes rotate {
    0%{

    }
    50% {
        transform: rotateZ(2deg);
    }
    100%{
        transform: rotateZ(0deg);
    }

}

/* Heading */

.heading {
    padding: 0.5em;
    color: var(--white-text-colour);
    background-color: var(--bg-colour);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.heading-icon {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.heading-icon .sun {
    color: var(--sun-colour);
    margin: 0.2em;
    font-size: 3em;
}

.heading-icon .calendar {
    color: var(--white-text-colour);
    margin: 0.2em;
    font-size: 3em;
}

.table-heading {

}

.table-body {
    overflow: hidden;
}

.table-footer {
    background-color: var(--bg-colour);
    margin-bottom: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.25em 1em;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, 
                rgba(0, 0, 0, 0.07) 0px 2px 2px, 
                rgba(0, 0, 0, 0.07) 0px 4px 4px, 
                rgba(0, 0, 0, 0.07) 0px 8px 8px, 
                rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

/* Grid Layout */

.grid-columns-7 {
    display: grid;
    grid-template-columns: 8% repeat(2, 18.8%) 16% 12%  26.4%
}

.grid-columns-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid-columns-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.grid-rows-2 {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

/* Item Base */
.item {
    border: 1px solid var(--white-text-colour);
    border-right: none;
    background-color: var(--item-bg-colour);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    font-weight: 800;
    transition: padding 250ms ease-in-out;
}

.item-row {
    border: 1.5px solid var(--white-text-colour);
    border-right: none;
    border-top: none;
    background: transparent;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    font-weight: 200;
    transition: padding 250ms ease-in-out;
    padding: 0.5em;
}

.selectable-row {
    background-color: var(--item-bg-colour);
    cursor: pointer;
    transition: background-color 750ms ease-in-out,
                color 750ms ease-in-out;
}

.selectable-row:hover {
    color: var(--white-text-colour);
    background-color: var(--edit-bg-colour);
}

.slectable-row:hover .item,
.selectable-row:hover .item-row {
}

.grid-columns-7 > .item-row,
.grid-columns-3 > .item-row,
.grid-rows-2 > .item-row {
    font-size: 0.8em;
    padding: 0.3em;
}

.grid-columns-7 > .item,
.grid-rows-2 > .item {
    font-size: 1.5em;
    padding: 0.2em;
}

.grid-columns-3 > .item,
.grid-columns-2 > .item {
    font-size: 1em;
    border-top: none;
    font-weight: 400;
}

.grid-columns-7 > *:first-child {
    border-left: none;
}

/* Pagination */

.pagination {
    font-size: 2em;
    color: var(--white-text-colour);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 10;
}

.middle-pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.chevron {
    opacity: 0.7;
    transition: opacity 250ms ease-in-out;
}

.chevron:hover {
    opacity: 1;
    cursor: pointer;
}

.page-numbers {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    font-size: 2em;
    color: var(--white-text-colour);
}

/* Buttons */
.button-layout {
    display: flex;
    flex-direction: row;
    justify-content: right;
}
.submit-button {
    height: 2em;
    padding: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--submit-button-colour);
    background-color: var(--white-text-colour);
    border-radius: .25em;
    transform-origin: center;
    transition: background-color 250ms ease-in-out;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
                
}
.submit-button > i {
    font-size: 1.25em;
    margin-right: 0.5em;
    color: var(--submit-button-colour);
    transition: color 100ms 250ms ease-in-out;
}

.submit-button > span {
    font-size: 1.25em;
    font-weight: 600;
    color: var(--submit-button-colour);
    transition: color 100ms 250ms ease-in-out;
}

.submit-button:hover {
    background-color: var(--submit-button-colour);
}

.submit-button:hover > i {
    color: var(--white-text-colour);
}

.submit-button:hover > span {
    color: var(--white-text-colour);
}

.edit-button {
    height: 2em;
    padding: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--submit-button-colour);
    background-color: var(--white-text-colour);
    border-radius: .25em;
    transform-origin: center;
    transition: background-color 250ms ease-in-out;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.edit-button > span {
    font-size: 1.25em;
    font-weight: 600;
    color: var(--submit-button-colour);
    transition: color 100ms 250ms ease-in-out;
}

.edit-button:hover {
    background-color: var(--submit-button-colour);
}

.edit-button:hover > i {
    color: var(--white-text-colour);
}

.edit-button:hover > span {
    color: var(--white-text-colour);
}

.delete-button {
    height: 2em;
    padding: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--delete-button-colour);
    background-color: var(--white-text-colour);
    border-radius: .25em;
    transform-origin: center;
    transition: background-color 250ms ease-in-out;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.delete-button > span {
    font-size: 1.25em;
    font-weight: 600;
    color: var(--delete-button-colour);
    transition: color 100ms 250ms ease-in-out;
}

.delete-button:hover {
    background-color: var(--delete-button-colour);
}

.delete-button:hover > i {
    color: var(--white-text-colour);
}

.delete-button:hover > span {
    color: var(--white-text-colour);
}

.dropdown {

}

.datepicker {

}

/* Entry / Edit Modal Popup */
#entry-modal {
    margin: 0;
    left:50%;
    top: 50%;
    transform-origin: center;
    transform: translate(-50%, -40%) scale(0);
    border: none;
    border-radius: 0.25em;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    animation: scaleIn 800ms ease-in-out forwards;
    overflow-y: auto;
    min-width: 50vw;
}
@keyframes scaleIn {
    0% {

    }
    60% {
        transform: translate(-50%, -50%) scale(1.1);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

#entry-modal::backdrop {
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-heading {
    position: relative;
    padding: 0.5em;
    font-size: 0.8em;
    color: var(--white-text-colour);
    background-color: var(--edit-bg-colour);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.entry-id-heading {
    display: flex;
    justify-content: space-between;
}

.modal-heading .close-icon {
    position: absolute;
    right: 0.1em;
    top: 0.1em;
    line-height: 0;
    color: var(--white-text-colour);
    font-size: 3em;
    opacity: 0.5;
    transition: opacity 250ms ease-in-out;
    cursor: pointer;
}

.modal-heading .close-icon:hover {
    opacity: 1;
}

.modal-body {
    padding: 1em;
    max-height: calc(100vh - 150px);
    overflow-y: auto;
}



.modal-button-layout {
    display: flex;
    justify-content: space-between;
}

.modal-secondary-buttons {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.modal-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

.modal-row input {
    border: 1px solid var(--edit-bg-colour);
}

.modal-row input[type=date] {
    width: 30%;
}

.modal-row canvas {
    width: 30%;
    border: 1px solid var(--edit-bg-colour);
    margin-bottom: 0.5em;
}

.modal-row h1 {
    text-align: left;
    color: var(--edit-bg-colour);
}

.modal-row hr {
    margin-top: .25em;
    margin-bottom: 1em;
}

.modal-row .input-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.modal-row .input-box label {
    font-weight: 500;
    color: var(--edit-bg-colour);
}

.modal-col-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}

.modal-col-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

#entry-id {
    display: none;
}

/* Media Queries */

/* Responsive Layout */